@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}

.header {
    background-color: #1f2937;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: -150px;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

ul {
    display: flex;
    flex-direction: row;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-left, 
.navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 150px;
}

img {
    margin-bottom: 50px;
}

.p-first {
    font-size: 18px;
    color: #E5E7EB;
    
}

.sign-up-header {
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px #3882F6;
}